@model BSU.StudentShowcase.Frontend.ViewModels.SingleProject.SingleProjectIndexViewModel

<div class="container w-100">
    <table style="width: 100%">
        <tr style="width: 100%">
            <td style="width: 50%"><h3 class="text-xl-left">@Model.StudentName</h3></td>
            <td style="width: 50%; text-align: right;"><span class="badge badge-pill badge-primary">@Model.Category</span></td>
        </tr>
    </table>
    <h3>@Model.School</h3>
    <br />
    <h2 class="text-center">@Model.ProjectName</h2>
    <br />
    <h5>Project Summary:</h5>
    <p>@Model.Summary</p>
    <br />
    <div>
        @if (Model.ProjectType.ToLower() == "text")
        {
            <div class="card" height="768">
                <pre class="text-wrap">@Model.Content</pre>
            </div>
        }
        @if (Model.ProjectType.ToLower() == "brochure")
        {
            <div class="container" style="text-align: center">
                <img src="@Model.Content" alt="preview-image">
            </div>
        }
        @if (Model.ProjectType.ToLower() == "video")
        {
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="1200" height="720" src="@Model.Content" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        }
    </div>

    <div>
        <br />
        <button type="button" class="btn btn-block btn-success btn-lg">Join Chat and Video Call</button>
    </div>

</div>