@model BSU.StudentShowcase.Frontend.ViewModels.SingleProject.JudgeSingleProjectIndexViewModel

<div class="container">
    <partial name="_SingleProjectPartial" model="@Model.ProjectModel" />

    <br />

    @if (Model.Judged)
    {
        <div class="alert alert-success">This project has been judged.</div>
    }
    else
    {
<form asp-controller="SingleProject" asp-action="JudgeIndex" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" hidden></div>

    <h3>Judge Form</h3>
    <div class="form-row">
        <label class="col-form-label col-sm-4" style="font-size:20px;">Clear Goals:</label>
        <span class="btn-group-toggle col-sm-6" data-toggle="buttons">
            <label class="btn btn-secondary judge-btn active mr-2">
                <input type="radio" asp-for="@Model.ClearGoals" id="option1" autocomplete="off" value="0" checked /> Inadequate
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.ClearGoals" id="option2" autocomplete="off" value="1" /> Probationary
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.ClearGoals" id="option3" autocomplete="off" value="2" /> Proficent
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.ClearGoals" id="option3" autocomplete="off" value="3" /> Exemplary
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.ClearGoals"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-4" style="font-size:20px;">Adequate Preparation:</label>
        <span class="btn-group-toggle col-sm-6" data-toggle="buttons">
            <label class="btn btn-secondary judge-btn active mr-2">
                <input type="radio" asp-for="@Model.AdequatePreparation" id="option1" autocomplete="off" value="0" checked /> Inadequate
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.AdequatePreparation" id="option2" autocomplete="off" value="1" /> Probationary
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.AdequatePreparation" id="option3" autocomplete="off" value="2" /> Proficent
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.AdequatePreparation" id="option3" autocomplete="off" value="3" /> Exemplary
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.AdequatePreparation"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-4" style="font-size:20px;">Appropriate Methods:</label>
        <span class="btn-group-toggle col-sm-6" data-toggle="buttons">
            <label class="btn btn-secondary judge-btn active mr-2">
                <input type="radio" asp-for="@Model.AppropriateMethods" id="option1" autocomplete="off" value="0" checked /> Inadequate
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.AppropriateMethods" id="option2" autocomplete="off" value="1" /> Probationary
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.AppropriateMethods" id="option3" autocomplete="off" value="2" /> Proficent
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.AppropriateMethods" id="option3" autocomplete="off" value="3" /> Exemplary
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.AppropriateMethods"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-4" style="font-size:20px;">Significant Results:</label>
        <span class="btn-group-toggle col-sm-6" data-toggle="buttons">
            <label class="btn btn-secondary judge-btn active mr-2">
                <input type="radio" asp-for="@Model.SignificantResults" id="option1" autocomplete="off" value="0" checked /> Inadequate
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.SignificantResults" id="option2" autocomplete="off" value="1" /> Probationary
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.SignificantResults" id="option3" autocomplete="off" value="2" /> Proficent
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.SignificantResults" id="option3" autocomplete="off" value="3" /> Exemplary
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.SignificantResults"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-4" style="font-size:20px;">Effective Presentation:</label>
        <span class="btn-group-toggle col-sm-6" data-toggle="buttons">
            <label class="btn btn-secondary judge-btn active mr-2">
                <input type="radio" asp-for="@Model.EffectivePresentation" id="option1" autocomplete="off" value="0" checked /> Inadequate
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.EffectivePresentation" id="option2" autocomplete="off" value="1" /> Probationary
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.EffectivePresentation" id="option3" autocomplete="off" value="2" /> Proficent
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.EffectivePresentation" id="option3" autocomplete="off" value="3" /> Exemplary
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.EffectivePresentation"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-4" style="font-size:20px;">Reflective Critique:</label>
        <span class="btn-group-toggle col-sm-6" data-toggle="buttons">
            <label class="btn btn-secondary judge-btn active mr-2">
                <input type="radio" asp-for="@Model.ReflectiveCritique" id="option1" autocomplete="off" value="0" checked /> Inadequate
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.ReflectiveCritique" id="option2" autocomplete="off" value="1" /> Probationary
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.ReflectiveCritique" id="option3" autocomplete="off" value="2" /> Proficent
            </label>
            <label class="btn btn-secondary judge-btn mr-2">
                <input type="radio" asp-for="@Model.ReflectiveCritique" id="option3" autocomplete="off" value="3" /> Exemplary
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.ReflectiveCritique"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-9" style="font-size:20px;">Additional Feedback:</label>
        <textarea class="form-control" asp-for="@Model.AdditionalFeedback"></textarea>
    </div>

    <br />

    <input type="checkbox" asp-for="@Model.Judged" checked hidden />
    <input type="submit" class="btn btn-primary" value="Submit" />

</form>
    }

</div>
