@model BSU.StudentShowcase.Frontend.ViewModels.SingleProject.JudgeSingleProjectIndexViewModel

<div class="container">
    <partial name="_SingleProjectPartial" model="@Model.ProjectModel" />

    <br />

    @if (Model.Judged)
    {
        <div class="alert alert-success">This project has been judged.</div>
    }
    else
    {
<form asp-controller="SingleProject" asp-action="JudgeIndex" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" hidden></div>

    <h3>Judge Form</h3>

    <div class="form-row">
        <label class="col-form-label col-sm-2">Clear Goals:</label>
        <span class="btn-group btn-group-toggle col-sm-3" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" asp-for="@Model.ClearGoals" id="option1" autocomplete="off" value="0" checked /> 0
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.ClearGoals" id="option2" autocomplete="off" value="1" /> 1
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.ClearGoals" id="option3" autocomplete="off" value="2" /> 2
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.ClearGoals" id="option3" autocomplete="off" value="3" /> 3
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.ClearGoals"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-2">Adequate Preparation:</label>
        <span class="btn-group btn-group-toggle col-sm-3" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" asp-for="@Model.AdequatePreparation" id="option1" autocomplete="off" value="0" checked /> 0
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.AdequatePreparation" id="option2" autocomplete="off" value="1" /> 1
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.AdequatePreparation" id="option3" autocomplete="off" value="2" /> 2
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.AdequatePreparation" id="option3" autocomplete="off" value="3" /> 3
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.AdequatePreparation"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-2">Appropriate Methods:</label>
        <span class="btn-group btn-group-toggle col-sm-3" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" asp-for="@Model.AppropriateMethods" id="option1" autocomplete="off" value="0" checked /> 0
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.AppropriateMethods" id="option2" autocomplete="off" value="1" /> 1
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.AppropriateMethods" id="option3" autocomplete="off" value="2" /> 2
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.AppropriateMethods" id="option3" autocomplete="off" value="3" /> 3
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.AppropriateMethods"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-2">Significant Results:</label>
        <span class="btn-group btn-group-toggle col-sm-3" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" asp-for="@Model.SignificantResults" id="option1" autocomplete="off" value="0" checked /> 0
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.SignificantResults" id="option2" autocomplete="off" value="1" /> 1
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.SignificantResults" id="option3" autocomplete="off" value="2" /> 2
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.SignificantResults" id="option3" autocomplete="off" value="3" /> 3
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.SignificantResults"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-2">Effective Presentation:</label>
        <span class="btn-group btn-group-toggle col-sm-3" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" asp-for="@Model.EffectivePresentation" id="option1" autocomplete="off" value="0" checked /> 0
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.EffectivePresentation" id="option2" autocomplete="off" value="1" /> 1
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.EffectivePresentation" id="option3" autocomplete="off" value="2" /> 2
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.EffectivePresentation" id="option3" autocomplete="off" value="3" /> 3
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.EffectivePresentation"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-2">Reflective Critique:</label>
        <span class="btn-group btn-group-toggle col-sm-3" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" asp-for="@Model.ReflectiveCritique" id="option1" autocomplete="off" value="0" checked /> 0
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.ReflectiveCritique" id="option2" autocomplete="off" value="1" /> 1
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.ReflectiveCritique" id="option3" autocomplete="off" value="2" /> 2
            </label>
            <label class="btn btn-secondary">
                <input type="radio" asp-for="@Model.ReflectiveCritique" id="option3" autocomplete="off" value="3" /> 3
            </label>
        </span>
    </div>
    <span class="text-danger col-sm-10" asp-validation-for="@Model.ReflectiveCritique"></span>

    <br />

    <div class="form-row">
        <label class="col-form-label col-sm-2">Additional Feedback</label>
        <input class="form-control col-sm-8" type="text" asp-for="@Model.AdditionalFeedback" />
    </div>

    <br />

    <input type="checkbox" asp-for="@Model.Judged" checked hidden />
    <input type="submit" class="btn btn-success" value="Submit" />

</form>
    }

</div>
